.center-buttons {
    display: flex;
    align-content: center;
    justify-content: center;
}


.picking_picture {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 370px;
}

@media (max-width: 510px) {
    .picking_picture {
        height: 340px;
    }
}